<!-- footer -->
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-lg-start px-5">
                <img src="/logo/logoSVGFOOTER.svg" alt="scorcelliLogo">
            </div>
           
            <div class="col-12 col-lg-6">
                    <h3 class="mt-3">Comunicate con nosotros</h3>
                    <div class="telefonos d-lg-flex">
                        <div class="telefono1 d-flex  mt-3"> <a  class="d-flex" href="https://wa.me/543329561425">
                            <img src="/svg/phone2iconFooter.svg" alt="telefonoIcon">
                          
                            <p class="mx-3 footerItem">
                                3329-561425
                            </p> 
                        </a>
                        </div>
                        <div class="telefono2 d-flex mt-3"> <a  class="d-flex" href="tel:3329430252">
                            <img src="/svg/phoneiconFooter.svg" alt="telefonoIcon">
                            <p class="mx-3 footerItem">
                                3329-430252
                            </p> </a>
                        </div>
                    </div>
            </div>
            <div class="dir d-lg-none col-12">
                <h3 class="mt-3">Encontra nuestras oficinas en</h3>
                <div class="direccionFooterMobile d-flex my-3">
                    <img src="/svg/ubiFooter.svg" alt="ubicacionIcon">
                    
                    <a href="https://goo.gl/maps/XqJExVb6ZmYYDCxb7">
                        <p class=" mx-3 direccion" >
                            Balcarce 66, Local 14,
                            <span>San Pedro</span>
                           </p>   

                    </a>
                     
                </div>
                <iframe class=" text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.1609967028658!2d-59.6688847845681!3d-33.678895180709176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ba22d019a93a03%3A0x1d1dc5f17b52c69a!2sPaseo%20Los%20Naranjos!5e0!3m2!1sen!2sar!4v1641254415874!5m2!1sen!2sar" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 
            </div>
            <div class="dir col-lg-6 d-none d-lg-block">
                <h3 class="mt-3">Encontra nuestras oficinas en</h3>
                <div class="direccionFooterMobile d-flex my-3">
                    <a  href="https://goo.gl/maps/XqJExVb6ZmYYDCxb7">
                    <img src="/svg/ubiFooter.svg" alt="ubicacionIcon">
                     <p class=" mx-3 direccion" >
                        Balcarce 66, Local 14,
                          <span>San Pedro </span>
                          <a class="d-flex justify-content-end" id="comollegar" href="https://goo.gl/maps/XqJExVb6ZmYYDCxb7"> <span> ¿Comó llegar? <img class="mx-1" src="/svg/comollegar.svg" alt=""> </span></a>
                        </p>  
                     </a>
                </div>

            </div>
            <iframe class="d-none d-lg-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.1609967028658!2d-59.6688847845681!3d-33.678895180709176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ba22d019a93a03%3A0x1d1dc5f17b52c69a!2sPaseo%20Los%20Naranjos!5e0!3m2!1sen!2sar!4v1641254415874!5m2!1sen!2sar" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>

    </div>


    
			
				<div class="footer-container mt-4 py-1">
					<p>
						Copyright &copy; <span>inmobiliariajorgescorcelli.com.ar</span> 2021 - <a href="https://ktsoftware.com.ar"> <img src="/logo/kt.png" alt="logo kt"> Kt Software</a>
					</p>
				</div>
		
</footer>
<!-- footer -->
