<!-- footer -->
<footer id="footer" class="mt-5">
    <div class="container">
    

    </div>


    
			
				<div class="footer-container mt-4 py-1">
					<p>
						Copyright &copy; <span>somosalpinas.com.ar</span> 2021 - <a href="https://ktsoftware.com.ar"> <img src="/logo/kt.png" alt="logo kt"> Kt Software</a>
					</p>
				</div>
		
</footer>
<!-- footer -->
