  
<!-- Menu navegador bootstrap -->
<header >    
    <nav id="navAlpinas" class="navbar navbar-expand-lg  " >
        <div  class="container  d-lg-none ">  
        <a class="" href="/" > 
            <img class="img-fluid navbar-brand"  src="/logo/logoWeb.png" alt="">
        </a>
        <a  style="transform: translateX(10vh);" id="shopcartnav"  href="#" class="pl-4 d-none">
          <img class="img-fluid navbar-brand" src="/shopCart.png" style="width:45px ;height: 55px ;" alt="">
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-start "></span>
          </button>
          
          <div class="collapse navbar-collapse my-3" id="navbarSupportedContent">    
                <ul class="navbar-nav mb-2"> 
                  <a href="/" class="navItemAlpinas">
                    <p style="background-color:  #ECAC86;border-radius: 0px;
                    " class="accordion-button collapsed"  aria-expanded="false" >
                  INICIO
                  </p>
                  </a>
              <li style="border-radius: 0px" class="nav-item dropdown">
                
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button style="background-color:  #ECAC86;border-radius: 0px;
                        " class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                       PRODUCTOS
                        </button>
                      </h2>
                      <div style=" background-color: #ECAC86" id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                       
                            <ul class="list-unstyled subItems px-3" aria-labelledby="navbarPRODUCTOS">
                                <!-- <li id="firstLI"><a class="" href="/categorias/todos">Ver todos los productos</a></li> -->
                                <li><a class="" href="/categorias/ABC">Abc</a></li>
                                <li><a class="" href="/categorias/cajas">Cajas para imaginar y crear</a></li>
                                <li><a class="" href="/categorias/DUO">Duo</a></li>
                                <li><a class="" href="/categorias/domino">Domino</a></li>
                                <li><a class="" href="/categorias/mapas">Mapas</a></li>
                                <li><a class="" href="/categorias/memotest">Memotest</a></li>
                                <li><a class="" href="/categorias/sellos">Sellos</a></li>
                                <li><a class="" href="/categorias/pizarras">Pizarras</a></li>
                              
                              </ul>


                              
                              
                  </div>      
                  
              </li>
             
              <a href="/categorias/modo-laser" class=" navItemAlpinas" >
                <p style="background-color:  #ECAC86;border-radius: 0px;
                " class="accordion-button collapsed" type="button" >
               AlPINAS MODO LÁSER
                </p>
              </a>
              <!-- <a href="/de-yapa" class=" navItemAlpinas">
                <p style="background-color:  #ECAC86;border-radius: 0px;
                " class="accordion-button collapsed" type="button" >
               DE YAPA
                </p>
              </a>
          -->
           
            </ul>

          
        </div>
      
    </div>
    <div id="webNavBar" class=" container text-center d-none d-lg-block">
        <div class="row navegacion d-flex justify-content-around">
    
            <div class="col-2 logotipo">
                <div class="logo  ">
                    <a href="/" class="">
                        <img  class="img-fluid navbar-brand" src="/logo/logoWeb.png" alt="">
                    </a>
                </div>
                
            </div>
            
            <div  class="col-6 ">
                <div class="d-flex mt-3 justify-content-between align-items-center">

                  <div  class="dropdown">
                    <button style="background-color: #ECAC86; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); font-size: 22px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      PRODUCTOS
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
                      <!-- <li><a class="dropdown-item" href="/categorias/todos">Todos los productos</a></li> -->

                      <li><a class="dropdown-item" href="/categorias/ABC">Abc</a></li>
                      <li><a class="dropdown-item" href="/categorias/cajas">Cajas para imaginar y crear</a></li>
                      <li><a class="dropdown-item" href="/categorias/DUO">Duo</a></li>
                      <li><a class="dropdown-item" href="/categorias/domino">Dominó</a></li>
                      <li><a class="dropdown-item" href="/categorias/mapas">Mapas</a></li>
                      <li><a class="dropdown-item" href="/categorias/memotest">Memotest</a></li>

                      <li><a class="dropdown-item" href="/categorias/sellos">Sellos</a></li>

                      <li><a class="dropdown-item" href="/categorias/pizarras">Pizarras</a></li>
                  
                      

                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/categorias/modo-laser">Modo Lasér</a></li>
                    </ul>
                  </div>
                          
                            
                                       
                    
                        <a style="color: white;" href="/categorias/modo-laser" class=" ">MODO LÁSER</a>
                  
                    
                        <!-- <a style="color: white;" href="/deYapa">DE YAPA</a> -->
                  
                        <a  href="#" class="d-none">
                          <img class="img-fluid navbar-brand" src="/shopCart.png" style="width:45px ;height: 55px ;" alt="">
                      </a>
                  
                       
                </div>
               
            </div>
        </div>
    
    
    </div>
    </nav>

</header>
<script src="/navJS.js"></script>
<!-- Menu navegador bootstrap -->