  
<!-- Menu navegador bootstrap -->
<header >    
    <nav id="navAlpinas" class="navbar navbar-expand-lg  " >
        <div  class="container navContainer d-lg-none ">  
        <a class="" href="/" > 
            <img class="img-fluid navbar-brand"  src="Logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-start "></span>
          </button>
          <div class="collapse navbar-collapse my-3" id="navbarSupportedContent">    
                <ul class="navbar-nav mb-2"> 
              <li class="nav-item text-center">
                <a  class="linkActivo" aria-current="page" href="/">Inicio</a>
              </li>
              <li style="border-radius: 0px" class="nav-item dropdown">
                
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button style="background-color: #ECAC86;border-radius: 0px;
                        " class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                       PRODUCTOS
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="" aria-labelledby="navbarPRODUCTOS">
                                <li><a class="" href="#">Ver todos los productos</a></li>
                                <li><a class="" href="#">Abc</a></li>
                                <li><a class="" href="#">Cajas para imaginar y crear</a></li>
                                <li><a class="" href="#">Duo</a></li>
                                <li><a class="" href="#">Domino</a></li>
                                <li><a class="" href="#">Mapas</a></li>
                                <li><a class="" href="#">Memotest</a></li>
                                <li><a class="" href="#">Sellos</a></li>
                                <li><a class="" href="#">Pizarras</a></li>
              
                              </ul>
                    </div>
                 
                 
                  </div>
                <ul class="dropdown-menu" aria-labelledby="navbarPRODUCTOS">
                  <li><a class="dropdown-item" href="#">Ver todos los productos</a></li>
                  <li><a class="dropdown-item" href="#">Abc</a></li>
                  <li><a class="dropdown-item" href="#">Cajas para imaginar y crear</a></li>
                  <li><a class="dropdown-item" href="#">Duo</a></li>
                  <li><a class="dropdown-item" href="#">Domino</a></li>
                  <li><a class="dropdown-item" href="#">Mapas</a></li>
                  <li><a class="dropdown-item" href="#">Memotest</a></li>
                  <li><a class="dropdown-item" href="#">Sellos</a></li>
                  <li><a class="dropdown-item" href="#">Pizarras</a></li>

                </ul>
              </li>
             
              
              <li class="nav-item mt-2">
                <a class="" href="/propiedades">AlPINAS MODO LASÉR</a>
              </li>
              <li class="nav-item mt-2">
                <a class="" href="/propiedades">DE YAPA</a>
              </li>
           
            </ul>

          
        </div>
      
    </div>
    <div id="webNavBar" class=" navContainer container text-center pt-1 pb-1 pr-2 d-none d-lg-block">
        <div class="row navegacion d-flex justify-content-center">
    
            <div class="col-4 logotipo">
                <div class="logo">
                    <a href="/">
                        <img class="img-fluid" src="/logo/alpinasLogoBlanco.png" alt="alpinasLogoBlanco">
                    </a>
                </div>
    
            </div>
    
            <div class="col-8 pt-2 ">
                <div class="row">
                    <div class="col-4 ">
                        <a href="/" class="linkActivo">Inicio</a>
                    </div>
                    <div class="col-4">
                        <a href="#servicios" class=" ">Servicios</a>
                    </div>
                    <div class="col-4">
                        <a href="/propiedades" class=" ">Propiedades</a>
                    </div>
    
    
    
                </div>
               
            </div>
        </div>
    
    
    </div>
    </nav>
</header>
    <!-- Menu navegador bootstrap -->