  
<!-- Menu navegador bootstrap -->
<header >    
    <nav class="navbar navbar-expand-lg  bg-light" >
        <div  class="container navContainer d-lg-none mx-3">  
        <a class="mx-3" href="/" > 
            <img class="img-fluid navbar-brand"  src="/logo/Logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-start "></span>
          </button>
          <div class="collapse navbar-collapse text-end my-3" id="navbarSupportedContent">    
                <ul class="navbar-nav mb-2"> 
              <li class="nav-item">
                <a  class="linkActivo" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item mt-2">
                <a class="" href="#SERVICIOS">Servicios</a>
              </li>
              <li class="nav-item mt-2">
                <a class="" href="/propiedades">Propiedades</a>
              </li>
            </ul>

          
        </div>
      
    </div>
    <div id="webNavBar" class=" navContainer container text-center pt-1 pb-1 pr-2 d-none d-lg-block">
        <div class="row navegacion d-flex justify-content-center">
    
            <div class="col-4 logotipo">
                <div class="logo">
                    <a href="/">
                        <img class="img-fluid" src="/logo/logoScorcelliPNG.png" alt="Scorcelli">
                    </a>
                </div>
    
            </div>
    
            <div class="col-8 pt-2 ">
                <div class="row">
                    <div class="col-4 ">
                        <a href="/" class="linkActivo">Inicio</a>
                    </div>
                    <div class="col-4">
                        <a href="#servicios" class=" ">Servicios</a>
                    </div>
                    <div class="col-4">
                        <a href="/propiedades" class=" ">Propiedades</a>
                    </div>
    
    
    
                </div>
                <div id="barraSocial" class="row justify-content-end pt-3 mt-2 mb-0">
                    <div class="col-12 d-flex justify-content-end">
                        <a class="direccion " href="https://goo.gl/maps/kWx3CSe51yk5b5oAA">
                            <span>
                                <img class="mx-1" src="/svg/ubi.svg" width="30px" height="auto" alt="ubicacion"></span>
                                Balcarce 66, Local 14, San Pedro
                        </a>
                        <a href="tel:3329430252" class="telefono mx-3">
                            <span><img class="mx-1" src="/svg/phoneicon.svg" width="30px" height="auto" alt="iconTel">3329-430252</span>
                        </a>
                       
    
                    </div>
    
                </div>
            </div>
        </div>
    
    
    </div>
    </nav>
</header>
    <!-- Menu navegador bootstrap -->