@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

#navAlpinas {
  background-color: #ECAC86;
  font-family: "Inter", sans-serif;
  color: #6e6e6e;
  font-family: "Inter", sans-serif;
}

#navAlpinas a {
  color: #6e6e6e;
  font-weight: 500;
}

#navAlpinas .subItems li {
  margin-bottom: .7em;
}

#navAlpinas .subItems #firstLI {
  padding-top: .7em;
}

.accordion-button:not(.collapsed) {
  color: #5B2F57;
}

#flush-collapseOne {
  border-radius: 0%;
  background-color: #ECAC86;
  color: #5B2F57;
  letter-spacing: 1.5px;
}

.navItemAlpinas .accordion-button.collapsed::after {
  background: url("");
}

#introAlpinas {
  background-image: url("/3coloresimagenfondo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -100px 10px;
}

#webHeroAlpinas {
  background-image: url("/3coloresimagenfondoWeb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -50px -10px;
}

.pall {
  letter-spacing: .1em;
  font-size: 16px;
}

.pall .boldText {
  font-weight: bold;
}

.adpMobile {
  text-decoration: none;
  background-color: #FFCD87;
  color: white;
  font-weight: bold;
  border-radius: 85px;
  padding: 1.2em 1.8em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.adpMobile:hover {
  font-weight: bold;
  letter-spacing: .2em;
  color: #5B2F57;
}

.pallWeb {
  letter-spacing: .1em;
  font-size: 18px;
}

.pallWeb .boldText {
  font-weight: bold;
}

.pallWeb .adp {
  text-decoration: none;
  background-color: #FFCD87;
  color: white;
  border-radius: 85px;
  padding: 1.2em 2.5em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pallWeb .adp:hover {
  font-weight: bold;
  padding: 1.2em 3em;
  letter-spacing: .2em;
}

.pallWeb .pexplore {
  color: #5B2F57;
}

main #desktopHeroText .desktopH1 {
  color: #5B2F57;
  font-size: 46px;
  line-height: 1em;
}

main #desktopHeroText .ctaPropiedadesText {
  color: #108745;
  font-size: 24px;
}

main .contactoHeroDesktop {
  background-color: #108745;
  color: white;
  font-size: 24px;
}

main .exploraBtn {
  border-radius: 23px;
  color: black;
  background-color: #F8C301;
  -webkit-transition: all;
  transition: all;
}

main .exploraBtn:hover {
  font-weight: bold;
}

main .exploraBtn:hover img {
  translate: 10px;
}

#h2Inicio {
  color: #5B2F57;
  font-weight: bold;
}

.categoriaCard h3 {
  font-weight: bold;
  color: white;
  -webkit-transform: translate(0px, -15vh);
          transform: translate(0px, -15vh);
}

.categoriaCard img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categoriaCard img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#diseñosPersonalizados {
  font-size: 14px;
}

#modoLaserWP {
  background-color: #ECAC86;
  color: white;
  padding: 1em 2.5em;
  font-weight: bold;
  border-radius: 10px;
}

#modoLaserIg {
  background-color: white;
  color: black;
  padding: 1em 2em;
  font-weight: 600;
  border-radius: 83px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.251);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.251);
}

.cardProductoAlpinas {
  font-family: "Montserrat", sans-serif;
}

.cardProductoAlpinas a {
  text-decoration: none;
}

.cardProductoAlpinas .tituloProducto {
  color: black;
  font-weight: 500;
  letter-spacing: .1em;
}

.tituloProducto {
  background-color: #FFEFAB;
}

.envioText {
  font-size: 24px;
  color: #404042;
}

#sectionFooter .linkFooter {
  color: #404042;
}

.footerContacto hr {
  width: 50%;
  border: 2px solid #1d1c19;
}

.sub-item-footer h4 {
  font-size: 18px;
  color: #404042;
  font-weight: 500;
}

.sub-item-footer a {
  text-decoration: none;
  font-size: 18px;
  color: #404042;
  font-weight: 500;
}

.linksRedes {
  border-radius: 23px;
  background-color: black !important;
  color: white;
  font-weight: 500;
}

.linksRedes:hover {
  color: #5B2F57;
}

.ubiWebIcon {
  height: 30px;
  width: auto;
}

footer .direccion {
  font-size: 24px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: underline;
  -webkit-text-decoration-color: #5B2F57;
          text-decoration-color: #5B2F57;
}

footer .footerItem {
  border-bottom: 2px solid #5B2F57;
  font-size: 24px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer #comollegar {
  display: inline-block;
  text-decoration: none;
  font-size: 80%;
  color: black;
}

footer .dir span {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .footer-container {
  font-family: Montserrat, sans-serif;
  background-color: #FFB1B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container p {
  font-size: 18px;
  color: #426184;
  text-align: center;
  margin-bottom: 0;
}

footer .footer-container p img {
  vertical-align: middle;
}

footer .footer-container a {
  color: #426184;
}

footer .footer-container p span {
  color: #ffffff;
}
/*# sourceMappingURL=estilo.css.map */