$color1:#5B2F57;
$color2:#108745;
$color3:#F8C301;
$navBarItemColor:#5B2F57;
$navBarSubItemsColor:#6e6e6e;
$bgRosita:#FFDBC6;
$textColor1:black;
$textColor2:white;
   
$textSize1:24px;
$textSize2:1em;
$textSize3:36px;
$textSize4:46px;
$textSize5:32px;
$textSmall:14px;
$MontserratFont: 'Montserrat', sans-serif;
$InterFont :  'Inter', sans-serif;
$PoppinsFont: 'Poppins', sans-serif;
$RaleWayFont: 'Raleway', sans-serif;
// body
body{
    font-family: $PoppinsFont;

}
// 
a{
    text-decoration: none;
}
#navAlpinas {
    background-color: #ECAC86 ;
    font-family: $InterFont;
   
    
        color: $navBarSubItemsColor;
        a{
            color:$navBarSubItemsColor;
            font-weight: 500;
            
        }  

  
    font-family: $InterFont;

   .subItems{
     li{
        margin-bottom: .7em;
     }
    #firstLI{
        
        padding-top: .7em;
     }
   }
}
.accordion-button:not(.collapsed){
    color: $navBarItemColor;
}
#flush-collapseOne{

    border-radius: 0%;
    background-color: #ECAC86;
    color:#5B2F57;

    letter-spacing: 1.5px;

}
.navItemAlpinas{

    .accordion-button.collapsed::after {

        background: url("");
        
      }
}


// navbar


// alpinas estilo index

#introAlpinas{
    
    background-image: url('/3coloresimagenfondo.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: -100px 10px;
}
#webHeroAlpinas{
    background-image: url('/3coloresimagenfondoWeb.png');
    background-size:contain;
   
    background-repeat: no-repeat;
    background-position: -50px -10px;
}
.pall{
    letter-spacing: .1em;
    font-size: 16px;
    .boldText{
        font-weight: bold;
    }
}
.adpMobile{
    text-decoration: none;
    background-color: #FFCD87;
    color: white;
    font-weight: bold;
    border-radius: 85px;
    padding: 1.2em 1.8em;
    transition: all .2s;
    &:hover{
        font-weight: bold;
        letter-spacing: .2em;
        color: #5B2F57;
    
    }   
}   
.pallWeb{
    letter-spacing: .1em;
    font-size: 18px;
    .boldText{
        font-weight: bold;
    }
    .adp{
        text-decoration: none;
        background-color: #FFCD87;
        color: white;
        border-radius: 85px;
        padding: 1.2em 2.5em;
        transition: all .2s;
        &:hover{
            font-weight: bold;
            padding: 1.2em 3em;
            letter-spacing: .2em;
        
        }   
    }   
    .pexplore{
        color: #5B2F57;

    }
}
// 
// mainIndex
main{

  
 
    #desktopHeroText{
        .desktopH1{
            color: $color1  ;
            font-size: $textSize4;
            line-height: 1em;
        }
        .ctaPropiedadesText{
            color: $color2;
            font-size: $textSize1;
        }
    }
    .contactoHeroDesktop{
        background-color: $color2;
        color: $textColor2;
        font-size: $textSize1;

    }
    .exploraBtn{
        border-radius: 23px;
        color: $textColor1;
        background-color: $color3;
        transition: all;
        &:hover{
            font-weight: bold;
            img{
                translate: 10px;
            }
        }
    }
}
// 


#h2Inicio{
    color: $color1;
    font-weight: bold;
}

.categoriaCard{
  
        
      h3{
    font-weight: bold;
    color: white;
    transform: translate(0px , -15vh);
  }

    img{
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);

        }
    }

}
#diseñosPersonalizados{
    font-size: $textSmall;

}


#modoLaserWP{
    background-color: #ECAC86;
    color: white;
    padding: 1em 2.5em;
    font-weight: bold;
    border-radius: 10px;
}
#modoLaserIg{
    background-color: white;
    color: black;
    padding: 1em 2em;
    font-weight: 600;
    border-radius: 83px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.251);

}
.cardProductoAlpinas{
    font-family: $MontserratFont;
    a{
        text-decoration: none;
    }
    .tituloProducto{
    color: $textColor1 ;
    font-weight: 500;
    letter-spacing: .1em;
    }
}
.tituloProducto{

    background-color: #FFEFAB;

}
.envioText{
    font-size: $textSize1;
    color: #404042;
   
}
#sectionFooter{
    .linkFooter{
        color: #404042;
    }
}
.footerContacto{
    hr{
        width: 50%;
        border: 2px solid rgb(29, 28, 25);
    }
}
.sub-item-footer{
    h4{
        font-size: 18px;
        color: #404042;
        font-weight: 500;
    }
    a{
        text-decoration: none;
        font-size: 18px;
        color: #404042;
        font-weight: 500;
        
    }
}

.linksRedes{
    border-radius: 23px;
    background-color: black !important;
    color: white;
    
    font-weight: 500;
    &:hover{
        color:#5B2F57
    }
}

// #deYapa{
//     height: 30vh;
//     background-image: ;
// }
// servicios INDEX





// 



.ubiWebIcon{
    height: 30px;
    width: auto;

}





// 
// footer
footer{
   
    .direccion{
        font-size: $textSize1;
        align-items: baseline;
        text-decoration: underline;
        text-decoration-color: $color1;

    }
    .footerItem{
        border-bottom: 2px solid $color1;
        font-size: $textSize1;
        align-items: baseline;
    }
    #comollegar{
        display: inline-block;
        text-decoration: none;
        font-size: 80%;
        color: $textColor1;
    }
    .dir{
        span{
            font-weight: bold;
        }
    }

    a{
        text-decoration: none;
        color:$textColor1;
        
      
    }
    .footer-container {
        font-family: Montserrat, sans-serif;
        background-color: #FFB1B1;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .footer-container p {
        font-size: 18px;
        color: #426184;
        text-align: center;
        margin-bottom: 0;
    }
    
    .footer-container p img {
        vertical-align: middle;
    }
    .footer-container a{
        color:#426184;
    }
    .footer-container p span {
        color: #ffffff;
    }
}
// 