<% layout('layouts/boilerplate')%>

<main>
    <section id="introAlpinas" class="py-4">
        <div class="pall container px-5 py-2 mt-2">
            
            <p id="p1" class=" mb-3  ">
                SOMOS CAMILA Y JIMENA, HERMANAS Y EMPRENDEDORAS SAMPEDRINAS. HACE CINCO AÑOS NOS INICIAMOS EN ESTA AVENTURA QUE NOS APASIONA Y NOS INVITA A SEGUIR EXPLORANDO NUEVOS JUEGOS PARA LAS INFANCIAS
            </p>
            
            <p id="p2" class=" mb-3  boldText">
                TODOS NUESTROS PRODUCTOS SON DISEÑADOS 100% POR ALPINAS, POR ESO NO HAY OTRO IGUAL
            </p>
            <p id="p3" class=" mb-3  ">
                NUESTRO OBJETIVO ES OFRECER JUEGOS QUE PROMUEVAN EL DESARROLLO DE LA IMAGINACIÓN, LA CREATIVIDAD, LA CURIOSIDAD Y LAS HABILIDADES TANTO COGNITIVAS COMO MOTRICES
            </p>
            <p id="p4" class=" mb-3  boldText">
                ¡TE INVITAMOS A CONOCER TODA NUESTRA LÍNEA DE JUEGOS INFANTILES!
            </p>
        </div>
    </section>
   
    <div class="container">
        <a href="#">
        <div class="row align-items-center">
            <div class="col-9">
                <h2 id="h2Inicio" class="px-3">Escribinos ahora para hacer tu pedido!</h2>

            </div>
            <div class="col-3">
                <img class="" src="/wp0.png" alt="">
            </div>
        </div>
    </a>
    </div>
<section id="categorias">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">CAJAS PARA IMAGINAR Y CREAR</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/pizarras" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">Pizarras</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">ABC</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">DUÓ</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">MAPAS</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">SELLOS</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">DOMINÓ</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/modo-laser" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">MODO LASÉR <br><span id="diseñosPersonalizados">Diseños personalizados</span></h3>
                    
                </a>
            </div>
            
        </div>
    </div>

</section>
   
<section ">
    <div class="container">
        <div class="row ">
            <div class="col-6 text-center">
                <img class="img-fluid" src="/argentinaSVG.png" alt="">
            </div>
            <div class="col-6">
                <p class="envioText">
                    Realizamos envios a todo el País
                </p>
            </div>

        </div>
    </div>
</section>


   

    





</main>
