<% layout('layouts/boilerplate')%>

<main>
    <section id="introAlpinas">
        <div class="safasdfsafcontainer mt-2">
            
            <p class="lead mb-3 ">
                SOMOS CAMILA Y JIMENA, HERMANAS Y EMPRENDEDORAS SAMPEDRINAS. HACE CINCO AÑOS NOS INICIAMOS EN ESTA AVENTURA QUE NOS APASIONA Y NOS INVITA A SEGUIR EXPLORANDO NUEVOS JUEGOS PARA LAS INFANCIAS
            </p>
            
            <p class="lead mb-3 ">
                TODOS NUESTROS PRODUCTOS SON DISEÑADOS 100% POR ALPINAS, POR ESO NO HAY OTRO IGUAL
            </p>
            <p class="lead mb-3 ">
                NUESTRO OBJETIVO ES OFRECER JUEGOS QUE PROMUEVAN EL DESARROLLO DE LA IMAGINACIÓN, LA CREATIVIDAD, LA CURIOSIDAD Y LAS HABILIDADES TANTO COGNITIVAS COMO MOTRICES
            </p>
        </div>
    </section>
   




   

    





</main>
