<% layout('layouts/boilerplate')%>

<main>
    <section id="introAlpinas" class="py-4">
        <div class="pall container px-5 py-2 mt-2">
            
            <p id="p1" class=" mb-3  ">
                SOMOS CAMILA Y JIMENA, HERMANAS Y EMPRENDEDORAS SAMPEDRINAS. HACE CINCO AÑOS NOS INICIAMOS EN ESTA AVENTURA QUE NOS APASIONA Y NOS INVITA A SEGUIR EXPLORANDO NUEVOS JUEGOS PARA LAS INFANCIAS
            </p>
            
            <p id="p2" class=" mb-3  boldText">
                TODOS NUESTROS PRODUCTOS SON DISEÑADOS 100% POR ALPINAS, POR ESO NO HAY OTRO IGUAL
            </p>
            <p id="p3" class=" mb-3  ">
                NUESTRO OBJETIVO ES OFRECER JUEGOS QUE PROMUEVAN EL DESARROLLO DE LA IMAGINACIÓN, LA CREATIVIDAD, LA CURIOSIDAD Y LAS HABILIDADES TANTO COGNITIVAS COMO MOTRICES
            </p>
            <p id="p4" class=" mb-3  boldText">
                ¡TE INVITAMOS A CONOCER TODA NUESTRA LÍNEA DE JUEGOS INFANTILES!
            </p>
        </div>
    </section>
   
    <div class="container">
        <a href="#">
        <div class="row align-items-center">
            <div class="col-9">
                <h2 id="h2Inicio" class="px-3">Escribinos ahora para hacer tu pedido!</h2>

            </div>
            <div class="col-3">
                <img class="" src="/wp0.png" alt="">
            </div>
        </div>
    </a>
    </div>
<section id="categorias">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/cajaCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">CAJAS PARA IMAGINAR Y CREAR</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/pizarras" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/pizarrasCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">PIZARRAS</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/ABCCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">ABC</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/DUOCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">DUÓ</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/mapasCategorias.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">MAPAS</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/sellosCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">SELLOS</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/caja" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/dominoCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">DOMINÓ</h3>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/categorias/modo-laser" id="categoriaCajaCard" class="categoriaCard">
                  <img class="img-fluid" src="/categorias/modoLaserCategoria.jpg" alt="">
                    <h3 class="px-4 pb-2 text-start">MODO LASÉR <br><span id="diseñosPersonalizados">Diseños personalizados</span></h3>
                    
                </a>
            </div>
            
        </div>
    </div>

</section>
   
<section ">
    <div class="container">
        <div class="row ">
            <div class="col-4 text-center">
                <img class="img-fluid" src="/argentinaSVG.png" alt="">
            </div>
            <div class="col-8">
                <p class="envioText">
                    Realizamos envios a todo el País
                </p>
            </div>

        </div>
    </div>
</section>


   
<footer>
    <div class="container">
        
        
        <div class="row ">
            <div class="col-12 mb-3">
                <h4 class="footerContacto mb-0 ">
                    CONTACTO
                    
                </h4>
                <div class="w-50 border border-dark" >
                </div>
            </div>
        </div>
            <div class="row sub-item-footer align-items-center">

           
            <div class="col-6 px-2  my-2">
                <a href="">
                <h4 class="d-flex align-items-center" > <img class="px-2 img-fluid" src="/wp.png" alt="">3329 684404</h4>
            </a>
            </div>
            <div class="col-6 px-2 my-2">
                <h4 class="d-flex align-items-center" > <img class="px-2 img-fluid" src="/ubi.png" alt=""> San Pedro, Buenos Aires  </h4>

            </div>
            <div class="col-12 text-center">
                <a href="mailto:hola@somosalpinas.com.ar" class="mailcontainer">
                    <h4 class="">  <img class="px-1 img-fluid" src="/mail.png" alt=""> hola@somosalpinas.com.ar</h4>
                    
                    
                </a>
            </div>
        </div>

        <div class="row  pt-3">
          <div class="col-6">
            <a class="linksRedes   py-2  px-3 " href="">
                <img src="/fb.png" alt="">
                @somosalpinas
            </a>
          </div>
          <div class="col-6">
            <a class=" linksRedes py-2 px-3" href="">
                <img src="/ig.png" alt="">
                @somos.alpinas
            </a>
          </div>
        
        </div>
       
    </div>
</footer>
    





</main>
