<% layout('layouts/boilerplate')%>

<main>
    <div class="container mt-2">
        <div class="row">
            <!-- herodesktop -->
            <div id="desktopHeroText" class="col-lg-6 d-none d-lg-block">
                <h1 class="desktopH1 mt-5 mx-5 ">Brindamos la oportunidad de encontrar la casa que buscas</h1>
            
                <div class="ctaPropiedades mt-5 pt-4 ">
                    <a class="row mx-4 mt-5 " href="/propiedades">
                        <div class="col-12 ctaPropiedadesText">Mira las propiedades que tenemos para vos </div>
                        
                        <div class="col-12">
                            <a class="exploraBtn mx-4 px-4 py-3" href="/propiedades">
                                Explora las ultimas publicaciones <img src="/svg/arrow.svg" alt="">
                            </a>
                        </div>
                      
    
                    </a>
                   </div>

                  
            </div>

            <!-- heroimg -->
            <div class="col-lg-6">
                <img class="img-fluid" src="/hero1.jpg" alt="">
            </div>

            <!-- heromobile -->
            <div id="mobileHeroText" class="col-lg-6 d-lg-none">
                <h1 class="mobileH1 text-center mt-3">Brindamos la oportunidad de encontrar la casa que buscas</h1>
               
               <div class="ctaPropiedades my-3 ">
                <a class="row mx-4 " href="/propiedades">
                    <div class="col-10" style="color: #108745;">Mira las propiedades que tenemos para vos </div>
                    <div class="col-2 d-flex"><img src="/svg/arrow.svg" alt=""></div>

                </a>
               </div>

               <div class="contactoHero py-3 text-center mt-2">
                <div class="row">
                    <div class="col-12 pb-2">
                        Contactate con nosotros

                    </div>    
                   
                       <div class="col-6 "><a href="tel:3329561425"><img src="/svg/wpicon.svg" alt="wpicon"></a></div>
                       <div class="col-6"><a href="tel:3329561425"><img src="/svg/phoneicon.svg" alt="phoneicon"></a></div>
                   </div>
               </div>
            </div>

            
        </div>
    </div>
    <div class="d-none d-lg-block contactoHeroDesktop  py-3 text-center my-3">
        <div class="row">  
            <div class="col-12 pb-2 ">
                <div class="container">
                    <div class="row ">
                    <div class="col-4 pt-3">Contactate con nosotros

                    </div>
                    <div class="col-4 pt-3"><a href="https://wa.me/543329561425"><img src="/svg/phone2icon.svg" alt="wpicon"></a>
                    </div>
                    <div class="col-4 pt-3"><a href="tel:3329430252"><img src="/svg/phoneicon.svg" alt="phoneicon"></a>
                    </div>
                </div>
                </div>
                
            </div>    
           
              
           </div>
       </div>


<section id="servicios" class="container ">
    <div class="row">
        <div class="col-12 mt-4 p-mobile d-lg-none text-center">
            Contamos con mas de 20 años de experiencia en el rubro 
            <span>inmobiliario</span>
         </div>
         <div class="p-desktop d-none d-lg-block  text-center">
            Contamos con mas de 20 años de <br> experiencia en el rubro <br> 
            <span>inmobiliario</span>
         </div>
    </div>



    <div class="row text-center mt-4 mb-lg-5 pb-lg-5">


        <div class="col-12 d-lg-flex ">
             <p class="serviciosTittle text-lg-start">Brindamos los servicios de:</p> 
            </div>


        <div class="col-12 col-lg-4 servicioIcon">
            <div class="iconoIndividual ">
                <img src="/iconos/operacionesInmobiliarias.svg" alt="icono">
            </div>
            <div class="textIndividual mt-3">
                Operaciones Inmobiliarias
            </div>
        </div>
        <div class="col-12 col-lg-4 servicioIcon">
            <div class="iconoIndividual ">
                <img src="/iconos/camposchacrascasaslotes.svg" alt="icono">
            </div>
            <div class="textIndividual mt-3">
                Campos, Chacras, Casas, Lotes
            </div>
        </div>
        <div class="col-12 col-lg-4 servicioIcon">
            <div class="iconoIndividual ">
                <img src="/iconos/ventayadministracion.svg" alt="icono">
            </div>
            <div class="textIndividual mt-3">
                Venta y administración
                        </div>
        </div>
        <div class="col-12 col-lg-4 servicioIcon mt-lg-5">
            <div class="iconoIndividual ">
                <img src="/iconos/alquileres.svg" alt="icono">
            </div>
            <div class="textIndividual mt-3">
                Alquileres
            </div>
        </div>
        <div class="col-12 col-lg-4 servicioIcon mt-lg-5">
            <div class="iconoIndividual ">
                <img src="/iconos/tasaciones.svg" alt="icono">
            </div>
            <div class="textIndividual mt-3">
                Tasaciones
            </div>
        </div>
        <div class="col-12 col-lg-4 servicioIcon mt-lg-5">
            <div class="iconoIndividual ">
                <img src="/iconos/loteos.svg" alt="icono">
            </div>
            <div class="textIndividual mt-3">
                Loteos
            </div>
        </div>
    </div>

    
</section>


<section id="bottomCta" class="container mt-5 pb-4">
    <div class="row ">
        <div class="col-12 col-lg-9 text-center">
            <a class="d-lg-none row mx-4 py-4 ctaExploraPropiedadesMobile d-flex justify-content-center py-3" href="/propiedades"> 
               
                <div class="col-6 ">Explora las propiedades disponibles</div>
                <div class="col-4 d-flex"> <img class="" src="/iconos/casayedificios.svg" alt=""></div>
           
            </a>
                 
            <a class="d-none mb-5 d-lg-block row mx-4 ctaExploraPropiedadesDesktop d-flex justify-content-center py-2" href="/propiedades"> 
               
                <div class="col-12 ">Explora las propiedades disponibles <img class="mx-2" src="/iconos/casayedificios.svg" alt=""></div>
           
            </a>
         
        </div>
    </div>
</section>

</main>
