<% layout('layouts/boilerplate')%>
  <div class="container">
    <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg"
                alt="atras"></span>
                Administrador</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Crear producto </li>
      </ol>
    </nav>

  </div>
  <div class="container">
    <div class="row mt-3">
      <h4 class="h4 text-center">Crear publicación</h4>
      <p class="text-muted px-4">
        Se recomienda pasar previamente las imagenes por <a href="https://tinypng.com/"> Tinypng </a> O <a href="https://bulkresizephotos.com/en"> BulkReizePhotos</a> o similares.
        Los formatos aceptados son JPG, JPEG, PNG . HASTA 5MB POR ARCHIVO 
      </p>
      <div class="col-4"></div>
      <div class="col-12 col-lg-4 tex">
        <form action="/administrador" method="post" enctype="multipart/form-data">

      
          <label for="tipo">Tipo de publicación</label>
          <select name="categoriaId" id="categoria" class="form-select" aria-label="Categoria producto" >
            <option> Abri para seleccionar la categoria</option>
            <% for(let categoria of categoriasAll) {%>
              <option value="<%= categoria._id %>"><%= categoria.nombre %></option>
              
            <% }%>  
            <!-- <option value="ABC">ABC</option>

            <option selected value="Cajas">Cajas</option>
            <option value="DeYapa">DeYapa</option>

            <option value="Dominos">Dominós</option>
            <option value="DUO">Dúo</option>

            <option value="Mapas">Mapas</option>
            <option value="Memotest">Memotest</option>
            <option value="Pizarra">Pizarra</option>

            <option value="Sellos">Sellos</option> -->


          </select>

          <div class="mb-3">
            <label for="imagenes" class="form-label">Subir Imagenes</label>
            <input class="form-control" name="imagenes" type="file" id="imagenes" multiple required>
          </div>


          <label for="titulo" class="form-label">Titulo del producto</label>
          <div class="input-group mb-3">
            <input placeholder="Ingresar el titulo del producto" type="text" name="titulo" class="form-control" id="titulo" required>
          </div>


          <label for="caracteristicas" class="form-label">Características de la publicación</label>
          <div class="input-group mb-3">
            
            <input placeholder="Ingresar caracteristicas del producto" name="caracteristicas" id="caracteristicas" class="form-control" >

          </div>
          <label for="incluye" class="form-label">Que incluye</label>
          <div class="input-group mb-3">
         
            <textarea placeholder="Que incluye" name="incluye" id="incluye" class="form-control" rows="3"></textarea>

          </div>

          <label for="medidas" class="form-label">Medidas</label>
          <div class="input-group mb-3">
         
            <textarea placeholder="Ingresar medidas del producto" name="medidas" id="medidas" class="form-control" rows="3"></textarea>

          </div>
         


<!-- precio -->
          <label for="precio" class="form-label">Precio del Producto</label>
          <div class="input-group mb-3">
            <input placeholder="Ingresar precio del producto" type="text" name="precio" class="form-control" id="precio" >
         
         
            
          </div>  
          
          <!-- <div class="form-check form-switch text d-flex justify-content-end">
           
            <input class="form-check-input" type="checkbox" id="mostrarPrecio">
            <label name="mostrarPrecio" class="form-check-label" for="mostrarPrecio">Mostrar precio</label>
          </div> -->
          <!-- precio -->

      

          <button type="submit" class="btn btn-primary px-5 py-3">Cargar</button>
        </form>
      </div>
      <div class="col-4"></div>
    </div>

  </div>