<% layout('layouts/boilerplate')%>

    <main>
        <div class="container">
            <nav class="indicadorDePagina px-lg-4 d-flex mt-4" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img
                                    src="/svg/arrowBack.svg" alt="atras"></span>
                            Administrador</a></li>

                            <li class="breadcrumb-item"><a href="/administrador/mostrar-modolaser">
                               Modo Laser TODOS</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> <b>
                            MODO-LASER ELIMINAR <%= modoLaserProducto.titulo.toUpperCase() %>
                        </b>
                    </li>


                </ol>
            </nav>

        </div>
        <section>

            <div class="container p-md-4 text-sm-center">

                <div class="cardEliminar">


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p class="px-2">Eliminar publicación de Modo Laser <%= modoLaserProducto.titulo %>
                        </p>

                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Eliminar publicación de modo laser</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Esta seguro de eliminar la publicación de modo laser</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <form class="d-inline px-2"
                                        action="/administrador/modo-laser/<%= modoLaserProducto._id%>?_method=DELETE"
                                        method="post">
                                        <button class="btn btn-warning">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>









    </main>