<% layout('layouts/boilerplate')%>
<div class="container">
  <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
          Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Inicio sesión </li>
    </ol>
  </nav>

</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-lg-4">
        <form action="/ingresar" method="post">
            
               
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                </div>
               
                <button type="submit" class="btn btn-primary">Ingresar</button>
              

        </form>
    </div>
    <div class="col"></div>
</div>

</div>
   