    <% layout('layouts/boilerplate')%>
    <div class="container">
        <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg"
                                alt="atras"></span>
                        Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Administrador </li>
            </ol>
        </nav>

    </div>
    <div class="propiedades container">
        <div class="row text-end">
            <div class="col-12">
                <a class="btn btn-dark" href="/cerrarsesion">Cerrar sesion e ir a la web</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <h2>Crear nuevo producto</h2>

                <a class="btn btn-secondary " href="/administrador/nuevo-producto">Nuevo Producto</a>
                
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-12 text-center">
                <h2>Agregar a MODO LASER</h2>

                <a class="btn btn-secondary " href="/administrador/nueva-modolaser"> Agregar</a>
                
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-12 ">
                <h2>Todos las categorias</h2>

                
            </div>
        </div>
    </div>