<% layout('layouts/boilerplate')%>
   <div class="container">
    <div class="row">
      <h3>

        Registrar usuario administrador para inmobiliariajorgescorcelli.com.a

      </h3>
        <div class="col"></div>
        <div class="col">
            <form action="/registro" method="POST">
                
                    <div class="mb-3">
                      <label for="rol" class="form-label">Direccion de E-mail</label>
                      <input type="rol" name="rol" class="form-control" id="rol" aria-describedby="rolHelp" required>
                      <div id="rolHelp"  class="form-text">El rol determina las funciones dentro de la aplicación.</div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre</label>
                        <input placeholder="todo minusculas" type="text" name="username" class="form-control" id="username" required>
                      </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Agregar nuevo Usuario</button>
                    

            </form>
        </div>
        <div class="col"></div>
    </div>
   </div>
    
 
