<% layout('layouts/boilerplate')%>
   <div class="container">
    <div class="row">
      <h3>

        Registrar usuario administrador para somosalpinas.com.ar

      </h3>
        <div class="col"></div>
        <div class="col">
            <form action="/registro" method="POST">
                
                    <div class="mb-3 ">
                      <input value="ADMIN" type="text" name="rol" class="form-control" id="rol" required>

                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre</label>
                        <input placeholder="Nombre de usuario" type="text" name="username" class="form-control" id="username" required>
                      </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input placeholder="Contraseña" type="password" name="password" class="form-control" id="password" required>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Crear</button>
                    

            </form>
        </div>
        <div class="col"></div>
    </div>
   </div>
    
 
<!--   <% modoLaserPro.imagenes.forEach( ( imagen , i )=> { %>
                    <div class=" col-lg-4">
             
             <img src="<%= imagen.show %>" class="d-block w-100" alt="" />
               
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="imagen-<%= i %> " name="deleteImagenes[]" value="<%= img.filename %>">
                        <label class="form-check-label" for="imagen-<%= i %> ">Eliminar</label>
                      </div>
            </div>
            <% }) %> -->