<% layout('layouts/boilerplate')%>

<div class="container">
    <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg"
                            alt="atras"></span>
                    Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">ADM Categorías </li>
        </ol>
    </nav>


</div>


<section>
    <div class="container">
        <h2>Listado de categorías</h2>
  
        <a href="/administrador/adm-categorias/nueva-categoria" class="btn btn-primary">Crear categoria</a>
        <div class="row px-lg-3">

    
        </div>
    </div>
</section>