<% layout('layouts/boilerplate')%>

<div class="container">
    <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg"
                            alt="atras"></span>
                    Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">ADM Categorías </li>
        </ol>
    </nav>


</div>


<section>
    <div class="container">
        <h2>Listado de categorías</h2>
  
        <a href="/administrador/adm-categorias/nueva-categoria" class="btn btn-primary mx-3 px-3  m-1">Crear categoria</a>
        <div class="row mt-2 px-lg-3">

            <% for(let categoria of categorias) {%> 
                <div class="col-lg-3 px-2 mb-4">
                    <div class="card">
                        <img class="img-fluid" src="<%= categoria.imagenPortada.show %>" alt="">
                        <p class="lead">
                            <%= categoria.nombre %> 
                        </p>
                        <a href="/administrador/adm-categorias/<%=categoria._id %>/actualizar" class="text-center btn btn-outline-info">Editar categoría</a>
                    </div>
                </div>
                
                <% } %> 
        </div>
    </div>
</section>