<% layout('layouts/boilerplate')%>

<main>
    <div class="container">
        <nav class="indicadorDePagina px-lg-4 d-flex mt-4" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
                Inicio</a></li>
                <li class="breadcrumb-item"><a href="/categorias/cajas">
                    Cajas para imaginar y crear</a></li>
            <li class="breadcrumb-item active" aria-current="page"> <b>ORIGAMI</b> </li>
          </ol>
        </nav>
      
      </div>
   <section >

        <div class="container p-md-5 text-sm-start">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="productoIndividualCard">
                        <img class="img-fluid imagenProducto mb-2" src="/esqueletocajas.jpg" alt="">
                        <p class="titulo">
                            
                        </p>
                        
                        <p>CARACTERISTICAS:</p>
                        <p class="caracteristicas">
                            Caja confeccionada en MDF 3 mm. 100% rígida,  con encastre.
                        </p>
                        <p>INCLUYE:</p>
                        <p class="incluye">
                            Bastidor 20 cm diámetro, hilos (colores varios), lápiz, aguja para bordar, telas para bordar, accesorios para decorar, marco MDF para colgar diseño, plantillas con dibujos, folleto informativo características de la técnica.
                        </p>

                        <p>MEDIDAS:</p>

                        <a href="/pedido/ID/agregar" class="text-center">
                            Agregar <img src="/shopCart.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
          

          



        
          <div class="container mt-3">
            <div class="row px-lg-5 justify-content-end">
                <div class="col-12 col-lg-6  mb-5 mt-3 mt-lg-0 ">
                  <a id="modoLaserWP" class=" " href="#">
                    ENVIA TU MENSAJE<img class="img-fluid px-2" src="/wpblack.png" alt="">
                  </a>
                </div>
               
            </div>
         
          </div>
         





</main>
